:root{
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52,58,64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000;
  --primary-transparent-black:rgba(0,0,0,.7);
  --primary-green: rgb(0,255,0);
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
  box-sizing: border-box;
}

nav{
  z-index: 500;
  background: var(--primary-black);
  
}



/* Navbarin kodlari */

.logo{
  width: 4.5rem; 
}

nav a.nav-link{
  font-size: 1.1rem;
  letter-spacing: .0375rem;
  margin: 0 3px;
  color: var(--primary-white) !important;
}

nav ul li{
  text-transform: uppercase;
}
.navbar-nav li a{
  transition: .4s ease ;
  border-top: 0.15rem solid transparent;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
  border-top: 0.15rem solid var(--primary-white);
}
.icon{
  background: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 36px;
}
.icon:focus{
  outline: none;
}
.fa-bars{
  background: transparent !important;
  color: #fff;
}

@media(max-width: 990px){
  .icon{
      display: block;
  }
}
/* Header kodlari */
.header-wrapper{
  position: relative;
  background: url(bg.avif);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.main-info{
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info h1{
  color: var(--primary-white);
  text-align: center;
  background: #000;
}
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
  font-family: 'Inconsolata', monospace;
  background: var(--primary-black);
}

@media(max-width: 768px){
  .main-info h1{
      font-size: 1.7rem !important;
  }
  .typed-text{
      font-size: 1.7rem !important;
  }
}


.downloadcv{
  border: 1px solid var(--primary-white);
  padding: .625rem;
  margin: 4rem;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--primary-white);
  transition: .4s ease-in-out;
}
.downloadcv:hover{
  text-decoration: none;
  background: var(--primary-white);
  color: var(--primary-black);
  border: 1px solid var(--primary-black);
}